<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
		<meta charset="{{ site.charset }}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="icon" type="image/png" sizes="16x16" href="{{site.theme.uri}}/assets/img/Favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="{{site.theme.uri}}/assets/img/Favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="180x180" href="{{site.theme.uri}}/assets/img/Favicon-180x180.png">

		<link rel="icon" type="image/png" sizes="16x16" media="(prefers-color-scheme: dark)" href="{{site.theme.uri}}/assets/img/Favicon-16x16-dark.png">
		<link rel="icon" type="image/png" sizes="32x32" media="(prefers-color-scheme: dark)" href="{{site.theme.uri}}/assets/img/Favicon-32x32-dark.png">
		<link rel="apple-touch-icon" sizes="180x180" media="(prefers-color-scheme: dark)" href="{{site.theme.uri}}/assets/img/Favicon-180x180-dark.png">

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.1.3/swiper-bundle.min.css" media="print" onload="this.media='all'">
		<noscript>
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11.1.3/swiper-bundle.min.css">
		</noscript>


		<link rel="stylesheet" href="{{site.theme.uri}}/assets/css/main.css">
		{{ fn ('wp_head') }}
	</head>
	<body class="{{ body_class }}">
		<header class="header">
			<div class="wrapper header__navBar">
				<div class="logo">
					<a href="{{ site.link }}" aria-label="{{ site.name }}">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 185.534 57.385">
							<path d="M85.107,48.185a4.113,4.113,0,0,1-1.052,2.866,3.475,3.475,0,0,1-2.665,1.164H77.919a3.441,3.441,0,0,1-2.777-1.3,5.12,5.12,0,0,1-1.03-3.336V42.52a5.13,5.13,0,0,1,1.052-3.336,3.463,3.463,0,0,1,2.821-1.3h3.292a3.612,3.612,0,0,1,2.642,1.03A3.68,3.68,0,0,1,84.928,41.4h3.56a7.058,7.058,0,0,0-.9-3.4,6.21,6.21,0,0,0-2.508-2.418,8.129,8.129,0,0,0-3.784-.851H77.987a8.015,8.015,0,0,0-3.941.94,6.527,6.527,0,0,0-2.62,2.665,8.219,8.219,0,0,0-.94,4.008v5.419a8.342,8.342,0,0,0,.94,4.008,6.614,6.614,0,0,0,2.6,2.665,7.9,7.9,0,0,0,3.9.94H81.39a7.758,7.758,0,0,0,3.784-.918,6.658,6.658,0,0,0,2.575-2.53,7.5,7.5,0,0,0,.918-3.717V44.244H79.4v3.09h5.71v.851Zm15.047-13.233H98.475l-7.9,20.175h3.762l1.836-4.792h8.016l1.791,4.792h3.762l-7.21-18.54a2.3,2.3,0,0,0-2.373-1.635M97.086,47.334l2.933-7.882h.336l2.911,7.882Zm30.228-1.9a8.535,8.535,0,0,0-3.986-1.612l-5.4-.94c-1.478-.246-2.217-.94-2.217-2.038v-.806a1.836,1.836,0,0,1,.851-1.59,3.623,3.623,0,0,1,2.127-.582h3.336a2.507,2.507,0,0,1,1.97.828,3.035,3.035,0,0,1,.739,1.926h3.56a6.134,6.134,0,0,0-.784-2.978,5.288,5.288,0,0,0-2.194-2.127,6.743,6.743,0,0,0-3.292-.761h-3.336a8.922,8.922,0,0,0-3.493.627,5.089,5.089,0,0,0-2.284,1.769,4.429,4.429,0,0,0-.806,2.62v1.657a3.868,3.868,0,0,0,1.3,3.023,7.558,7.558,0,0,0,3.9,1.635l5.419.918c1.523.246,2.306.94,2.306,2.015v1.008a1.875,1.875,0,0,1-.918,1.635,4,4,0,0,1-2.239.582H118.6a2.972,2.972,0,0,1-2.329-.94,3.541,3.541,0,0,1-.828-2.329h-3.56a6.476,6.476,0,0,0,1.769,4.68,6.665,6.665,0,0,0,4.9,1.747h3.381a9.067,9.067,0,0,0,3.538-.649,5.3,5.3,0,0,0,2.329-1.791,4.364,4.364,0,0,0,.828-2.642V48.364a3.576,3.576,0,0,0-1.321-2.933m8.128,9.7h12.651v-3.09H136.428V46.349H147.22v-3.09H136.428V38.041h11.666v-3.09H132.8V52.573a2.48,2.48,0,0,0,.717,1.836,2.693,2.693,0,0,0,1.926.717m31.46-9.7a8.535,8.535,0,0,0-3.986-1.612l-5.4-.94c-1.478-.246-2.217-.94-2.217-2.038v-.806a1.836,1.836,0,0,1,.851-1.59,3.623,3.623,0,0,1,2.127-.582h3.336a2.507,2.507,0,0,1,1.97.828,3.035,3.035,0,0,1,.739,1.926h3.56a6.134,6.134,0,0,0-.784-2.978,5.288,5.288,0,0,0-2.194-2.127,6.743,6.743,0,0,0-3.291-.761h-3.336a8.922,8.922,0,0,0-3.493.627,5.089,5.089,0,0,0-2.284,1.769,4.429,4.429,0,0,0-.806,2.62v1.657a3.868,3.868,0,0,0,1.3,3.023,7.558,7.558,0,0,0,3.9,1.635l5.419.918c1.523.246,2.306.94,2.306,2.015v1.008a1.875,1.875,0,0,1-.918,1.635,4,4,0,0,1-2.239.582h-3.269a2.972,2.972,0,0,1-2.329-.94,3.542,3.542,0,0,1-.828-2.329h-3.56a6.558,6.558,0,0,0,1.747,4.68,6.665,6.665,0,0,0,4.9,1.747h3.381a9.067,9.067,0,0,0,3.538-.649,5.3,5.3,0,0,0,2.329-1.791,4.364,4.364,0,0,0,.828-2.642V48.364a3.436,3.436,0,0,0-1.3-2.933M88.555,27.943V6.582H84.794V21.9L73.979,6.582H70.486V27.943h3.762V12.627L85.062,27.943ZM94.108,6.582H97.96V27.943H94.108Zm23.847,13.726a5.6,5.6,0,0,0,2.262-2.06,5.808,5.808,0,0,0,.806-3.068V12.269a5.681,5.681,0,0,0-.784-2.978A5.052,5.052,0,0,0,118.067,7.3a7.243,7.243,0,0,0-3.269-.717H103.513V27.943h3.851v-6.9h7.165a7.5,7.5,0,0,0,3.426-.739m-10.569-2.553V9.873h7.367a2.361,2.361,0,0,1,1.769.717,2.614,2.614,0,0,1,.672,1.881V15a2.794,2.794,0,0,1-.739,2.015,2.547,2.547,0,0,1-1.926.761h-7.143Zm34.08.493a5.808,5.808,0,0,0,.806-3.068V12.269a5.682,5.682,0,0,0-.784-2.978A5.053,5.053,0,0,0,139.316,7.3a7.243,7.243,0,0,0-3.269-.717H124.784V27.943h3.851v-6.9H135.8a7.4,7.4,0,0,0,3.4-.739,5.3,5.3,0,0,0,2.262-2.06m-3.045-3.269a2.794,2.794,0,0,1-.739,2.015,2.547,2.547,0,0,1-1.926.761h-7.12V9.873h7.344a2.361,2.361,0,0,1,1.769.717,2.614,2.614,0,0,1,.672,1.881Zm33.766-8.4V27.943h3.762V12.627l10.793,15.316h3.493V6.582h-3.762V21.9L175.68,6.582ZM168.067,17.2a10.837,10.837,0,1,0-10.837,10.837A10.846,10.846,0,0,0,168.067,17.2m-18.182,0a7.344,7.344,0,1,1,7.344,7.344,7.349,7.349,0,0,1-7.344-7.344M37.727,57.186A26.209,26.209,0,0,1,36.048,59.4,29.279,29.279,0,0,0,43.5,57.723h-.067a35.424,35.424,0,0,1-5.71-.537m13.659-48.9A21.446,21.446,0,0,0,61.865,26.376,28.257,28.257,0,0,0,51.386,8.283M14.8,11.217a33.1,33.1,0,0,1,2.284-4.1,29.121,29.121,0,0,0-4.7,4.075h1.948a3.307,3.307,0,0,0,.47.022M8.663,16.255c-.381.649-.717,1.254-1.008,1.836A25.324,25.324,0,0,0,12,20.576a34.059,34.059,0,0,1,1.12-4.926,24.535,24.535,0,0,0-4.456.6m2.978,8.957a31.606,31.606,0,0,1-5.777-2.53,28.714,28.714,0,0,0,8.374,29.467,26.166,26.166,0,0,1-.313-4.187,27.509,27.509,0,0,1,1.12-7.77,32.621,32.621,0,0,1-3.4-14.689v-.291M45.967,4.858A28.751,28.751,0,0,0,27.136,2.73a28.24,28.24,0,0,0-7.949,8.889A27.16,27.16,0,0,1,34.3,19.479,25.055,25.055,0,0,0,45.967,4.858m-27.317,41c-.022.448-.045.873-.045,1.321a23.412,23.412,0,0,0,1.9,9.248,28.361,28.361,0,0,0,8.665,2.732A24.783,24.783,0,0,0,32.667,55.8,31.985,31.985,0,0,1,21.18,48.633a30.048,30.048,0,0,1-2.53-2.777M15.6,26.219a27.612,27.612,0,0,0,1.635,8.621,27.746,27.746,0,0,1,6.695-8.173,32.443,32.443,0,0,1-8.33-.448M35.242,52.17a24.351,24.351,0,0,0,3.247-12.158,24.022,24.022,0,0,0-4.7-14.375,22.915,22.915,0,0,0-8.33,5.217,22.57,22.57,0,0,0-5.71,9.248A28.1,28.1,0,0,0,35.242,52.17m6.785-27.989a24.012,24.012,0,0,0-3.807.291,29.72,29.72,0,0,1,4.523,15.472,31.445,31.445,0,0,1-2.754,13.233,27.979,27.979,0,0,0,12.965-1.343A28.618,28.618,0,0,0,61.91,34.817,23.173,23.173,0,0,0,42.026,24.181M29.89,21.427a24.766,24.766,0,0,0-12.629-5.575A29.388,29.388,0,0,0,15.806,21.9a24.907,24.907,0,0,0,14.084-.47" transform="translate(-4.7 -2.018)" fill="#1a1b1c"/>
						</svg>
					</a>
				</div>
				<div id="menu-responsive">
					<nav class="header__navBar__navWp">
						<div class="left">
							{{ fn ('wp_nav_menu', {'theme_location': 'headerLeft', 'container': false}) }}
						</div>

						<div class="right">
							{{ fn ('wp_nav_menu', {'theme_location': 'headerRight', 'container': false}) }}
						</div>
					</nav>
				</div>
				<div class="extra">
					<button id="button-menu" class="header__navBar__menuIcon" aria-label="{{ __('Open menu', 'cd') }}">
						<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M80 160h352M80 256h352M80 352h352"/></svg>
					</button>
					<div class="header__navBar__extra">
						<div class="header__navBar__extra__cart">
							<a href="{{ site.link }}/pedidos" aria-label="{{ site.name }}">
								<svg fill="none" viewbox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
									<g stroke="currentColor"><path d="m11 13.25v-2.5c0-3.03757 2.2386-5.5 5-5.5s5 2.46243 5 5.5v2.5" stroke-linecap="round"/><path d="m7.3884 12.9119c.04664-.7928.7032-1.4119 1.49741-1.4119h14.22839c.7942 0 1.4508.6191 1.4974 1.4119l.6402 10.8826c.1182 2.0103-1.4802 3.7055-3.494 3.7055h-11.5156c-2.0138 0-3.61221-1.6952-3.49395-3.7055z"/></g>
								</svg>
							</a>
						</div>
						<div class="header__navBar__extra__help">
							<a href="{{ site.link }}/ayuda" aria-label="{{ site.name }}">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 23.356 23.342">
									<g transform="translate(-1597.829 -47.688)">
										<text data-name="?" transform="translate(1613 64.859)" fill="#1a1b1c" font-size="14" font-family="Barlow-Medium, Barlow" font-weight="500">
											<tspan x="-6.748" y="0">?</tspan>
										</text>
										<g transform="translate(1598.329 48.188)">
											<path d="M11.671.5A11.184,11.184,0,0,1,22.842,11.671,11.038,11.038,0,0,1,21.1,17.658l1.692,4.225a.7.7,0,0,1-.908.908L17.659,21.1a11.038,11.038,0,0,1-5.988,1.743A11.171,11.171,0,1,1,11.671.5Z" transform="translate(-0.5 -0.5)" fill="none" stroke="#1a1b1c" stroke-miterlimit="10" stroke-width="1"/>
										</g>
									</g>
								</svg>
							</a>
						</div>
						<div class="header__navBar__extra__language">
							<button>
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 23.413 23.389">
									<path d="M29.188,17.911A11.7,11.7,0,1,0,17.943,29.6h0A11.7,11.7,0,0,0,29.188,17.911Zm-2.847,6.431a10.943,10.943,0,0,1-4.256,3.5,11.022,11.022,0,0,0,3.043-4.357,9.286,9.286,0,0,1,1.326.7c-.037.053-.074.1-.112.157Zm-13.73,3.364A10.977,10.977,0,0,1,9.1,24.938c-.2-.242-.394-.494-.576-.752a9.3,9.3,0,0,1,1.326-.7,11.016,11.016,0,0,0,3.046,4.359C12.8,27.8,12.7,27.752,12.611,27.706ZM8.7,11.385a10.952,10.952,0,0,1,4.187-3.4A11.019,11.019,0,0,0,9.847,12.34a9.277,9.277,0,0,1-1.326-.7q.09-.126.181-.252Zm17.437-.173c.109.138.212.281.314.425a9.3,9.3,0,0,1-1.326.7,11.014,11.014,0,0,0-3.046-4.359,10.944,10.944,0,0,1,4.058,3.231Zm2.287,6.322H26.164a15.055,15.055,0,0,0-.774-4.484,10.128,10.128,0,0,0,1.476-.781,10.853,10.853,0,0,1,1.561,5.265ZM17.4,28.853c-1.189-.114-2.46-2.651-3.019-6.589a24.31,24.31,0,0,1,6.207,0c-.56,3.938-1.83,6.474-3.019,6.589H17.4Zm3.283-7.338a25.089,25.089,0,0,0-6.4,0,31.564,31.564,0,0,1-.2-3.226h6.789A31.591,31.591,0,0,1,20.686,21.515Zm-6.594-3.981a31.565,31.565,0,0,1,.2-3.226,24.835,24.835,0,0,0,6.4,0,31.59,31.59,0,0,1,.2,3.226ZM19.28,7.249a8.844,8.844,0,0,1,5.148,5.375,17.136,17.136,0,0,1-3.092.821A13.855,13.855,0,0,0,19.28,7.249Zm1.311,6.31a24.306,24.306,0,0,1-6.207,0c1.337-8.738,4.871-8.735,6.207,0Zm-6.953-.114a17.149,17.149,0,0,1-3.092-.821A8.844,8.844,0,0,1,15.7,7.248a13.858,13.858,0,0,0-2.057,6.2Zm-3.352-.112a17.963,17.963,0,0,0,3.257.862,33.043,33.043,0,0,0-.205,3.339H9.566a14.3,14.3,0,0,1,.721-4.2Zm3.051,4.956a33.043,33.043,0,0,0,.205,3.339,17.958,17.958,0,0,0-3.257.862,14.31,14.31,0,0,1-.721-4.2Zm.3,4.089a13.861,13.861,0,0,0,2.057,6.2A8.844,8.844,0,0,1,10.546,23.2a17.138,17.138,0,0,1,3.092-.821Zm7.7,0a17.15,17.15,0,0,1,3.092.821,8.844,8.844,0,0,1-5.149,5.376,13.859,13.859,0,0,0,2.057-6.2Zm3.352.112a17.964,17.964,0,0,0-3.257-.862,33.059,33.059,0,0,0,.205-3.339h3.772a14.3,14.3,0,0,1-.721,4.2Zm-3.051-4.956a33.058,33.058,0,0,0-.205-3.339,17.953,17.953,0,0,0,3.257-.862,14.312,14.312,0,0,1,.721,4.2ZM8.109,12.269a10.121,10.121,0,0,0,1.476.781,15.047,15.047,0,0,0-.775,4.484H6.548a10.851,10.851,0,0,1,1.561-5.265Zm.7,6.02a15.054,15.054,0,0,0,.774,4.484,10.128,10.128,0,0,0-1.476.781,10.852,10.852,0,0,1-1.561-5.265Zm16.579,4.484a15.046,15.046,0,0,0,.775-4.484h2.263a10.851,10.851,0,0,1-1.561,5.265,10.128,10.128,0,0,0-1.476-.781Z" transform="translate(-5.776 -6.22)" fill="#1a1b1c"/>
								</svg>
							</button>
						</div>
						<div class="language-switcher">
							{{languageselector()}}
						</div>
					</div>
				</div>
			</div>
		</header>

		{% block body '' %}

		<footer class="footer">
			<div class="footer__top">
				<div class="wrapper footer__top__wrapper">
					<div class="logo">
						<a href="{{ site.link }}" aria-label="{{ site.name }}">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 185.534 57.385">
								<path d="M85.107,48.185a4.113,4.113,0,0,1-1.052,2.866,3.475,3.475,0,0,1-2.665,1.164H77.919a3.441,3.441,0,0,1-2.777-1.3,5.12,5.12,0,0,1-1.03-3.336V42.52a5.13,5.13,0,0,1,1.052-3.336,3.463,3.463,0,0,1,2.821-1.3h3.292a3.612,3.612,0,0,1,2.642,1.03A3.68,3.68,0,0,1,84.928,41.4h3.56a7.058,7.058,0,0,0-.9-3.4,6.21,6.21,0,0,0-2.508-2.418,8.129,8.129,0,0,0-3.784-.851H77.987a8.015,8.015,0,0,0-3.941.94,6.527,6.527,0,0,0-2.62,2.665,8.219,8.219,0,0,0-.94,4.008v5.419a8.342,8.342,0,0,0,.94,4.008,6.614,6.614,0,0,0,2.6,2.665,7.9,7.9,0,0,0,3.9.94H81.39a7.758,7.758,0,0,0,3.784-.918,6.658,6.658,0,0,0,2.575-2.53,7.5,7.5,0,0,0,.918-3.717V44.244H79.4v3.09h5.71v.851Zm15.047-13.233H98.475l-7.9,20.175h3.762l1.836-4.792h8.016l1.791,4.792h3.762l-7.21-18.54a2.3,2.3,0,0,0-2.373-1.635M97.086,47.334l2.933-7.882h.336l2.911,7.882Zm30.228-1.9a8.535,8.535,0,0,0-3.986-1.612l-5.4-.94c-1.478-.246-2.217-.94-2.217-2.038v-.806a1.836,1.836,0,0,1,.851-1.59,3.623,3.623,0,0,1,2.127-.582h3.336a2.507,2.507,0,0,1,1.97.828,3.035,3.035,0,0,1,.739,1.926h3.56a6.134,6.134,0,0,0-.784-2.978,5.288,5.288,0,0,0-2.194-2.127,6.743,6.743,0,0,0-3.292-.761h-3.336a8.922,8.922,0,0,0-3.493.627,5.089,5.089,0,0,0-2.284,1.769,4.429,4.429,0,0,0-.806,2.62v1.657a3.868,3.868,0,0,0,1.3,3.023,7.558,7.558,0,0,0,3.9,1.635l5.419.918c1.523.246,2.306.94,2.306,2.015v1.008a1.875,1.875,0,0,1-.918,1.635,4,4,0,0,1-2.239.582H118.6a2.972,2.972,0,0,1-2.329-.94,3.541,3.541,0,0,1-.828-2.329h-3.56a6.476,6.476,0,0,0,1.769,4.68,6.665,6.665,0,0,0,4.9,1.747h3.381a9.067,9.067,0,0,0,3.538-.649,5.3,5.3,0,0,0,2.329-1.791,4.364,4.364,0,0,0,.828-2.642V48.364a3.576,3.576,0,0,0-1.321-2.933m8.128,9.7h12.651v-3.09H136.428V46.349H147.22v-3.09H136.428V38.041h11.666v-3.09H132.8V52.573a2.48,2.48,0,0,0,.717,1.836,2.693,2.693,0,0,0,1.926.717m31.46-9.7a8.535,8.535,0,0,0-3.986-1.612l-5.4-.94c-1.478-.246-2.217-.94-2.217-2.038v-.806a1.836,1.836,0,0,1,.851-1.59,3.623,3.623,0,0,1,2.127-.582h3.336a2.507,2.507,0,0,1,1.97.828,3.035,3.035,0,0,1,.739,1.926h3.56a6.134,6.134,0,0,0-.784-2.978,5.288,5.288,0,0,0-2.194-2.127,6.743,6.743,0,0,0-3.291-.761h-3.336a8.922,8.922,0,0,0-3.493.627,5.089,5.089,0,0,0-2.284,1.769,4.429,4.429,0,0,0-.806,2.62v1.657a3.868,3.868,0,0,0,1.3,3.023,7.558,7.558,0,0,0,3.9,1.635l5.419.918c1.523.246,2.306.94,2.306,2.015v1.008a1.875,1.875,0,0,1-.918,1.635,4,4,0,0,1-2.239.582h-3.269a2.972,2.972,0,0,1-2.329-.94,3.542,3.542,0,0,1-.828-2.329h-3.56a6.558,6.558,0,0,0,1.747,4.68,6.665,6.665,0,0,0,4.9,1.747h3.381a9.067,9.067,0,0,0,3.538-.649,5.3,5.3,0,0,0,2.329-1.791,4.364,4.364,0,0,0,.828-2.642V48.364a3.436,3.436,0,0,0-1.3-2.933M88.555,27.943V6.582H84.794V21.9L73.979,6.582H70.486V27.943h3.762V12.627L85.062,27.943ZM94.108,6.582H97.96V27.943H94.108Zm23.847,13.726a5.6,5.6,0,0,0,2.262-2.06,5.808,5.808,0,0,0,.806-3.068V12.269a5.681,5.681,0,0,0-.784-2.978A5.052,5.052,0,0,0,118.067,7.3a7.243,7.243,0,0,0-3.269-.717H103.513V27.943h3.851v-6.9h7.165a7.5,7.5,0,0,0,3.426-.739m-10.569-2.553V9.873h7.367a2.361,2.361,0,0,1,1.769.717,2.614,2.614,0,0,1,.672,1.881V15a2.794,2.794,0,0,1-.739,2.015,2.547,2.547,0,0,1-1.926.761h-7.143Zm34.08.493a5.808,5.808,0,0,0,.806-3.068V12.269a5.682,5.682,0,0,0-.784-2.978A5.053,5.053,0,0,0,139.316,7.3a7.243,7.243,0,0,0-3.269-.717H124.784V27.943h3.851v-6.9H135.8a7.4,7.4,0,0,0,3.4-.739,5.3,5.3,0,0,0,2.262-2.06m-3.045-3.269a2.794,2.794,0,0,1-.739,2.015,2.547,2.547,0,0,1-1.926.761h-7.12V9.873h7.344a2.361,2.361,0,0,1,1.769.717,2.614,2.614,0,0,1,.672,1.881Zm33.766-8.4V27.943h3.762V12.627l10.793,15.316h3.493V6.582h-3.762V21.9L175.68,6.582ZM168.067,17.2a10.837,10.837,0,1,0-10.837,10.837A10.846,10.846,0,0,0,168.067,17.2m-18.182,0a7.344,7.344,0,1,1,7.344,7.344,7.349,7.349,0,0,1-7.344-7.344M37.727,57.186A26.209,26.209,0,0,1,36.048,59.4,29.279,29.279,0,0,0,43.5,57.723h-.067a35.424,35.424,0,0,1-5.71-.537m13.659-48.9A21.446,21.446,0,0,0,61.865,26.376,28.257,28.257,0,0,0,51.386,8.283M14.8,11.217a33.1,33.1,0,0,1,2.284-4.1,29.121,29.121,0,0,0-4.7,4.075h1.948a3.307,3.307,0,0,0,.47.022M8.663,16.255c-.381.649-.717,1.254-1.008,1.836A25.324,25.324,0,0,0,12,20.576a34.059,34.059,0,0,1,1.12-4.926,24.535,24.535,0,0,0-4.456.6m2.978,8.957a31.606,31.606,0,0,1-5.777-2.53,28.714,28.714,0,0,0,8.374,29.467,26.166,26.166,0,0,1-.313-4.187,27.509,27.509,0,0,1,1.12-7.77,32.621,32.621,0,0,1-3.4-14.689v-.291M45.967,4.858A28.751,28.751,0,0,0,27.136,2.73a28.24,28.24,0,0,0-7.949,8.889A27.16,27.16,0,0,1,34.3,19.479,25.055,25.055,0,0,0,45.967,4.858m-27.317,41c-.022.448-.045.873-.045,1.321a23.412,23.412,0,0,0,1.9,9.248,28.361,28.361,0,0,0,8.665,2.732A24.783,24.783,0,0,0,32.667,55.8,31.985,31.985,0,0,1,21.18,48.633a30.048,30.048,0,0,1-2.53-2.777M15.6,26.219a27.612,27.612,0,0,0,1.635,8.621,27.746,27.746,0,0,1,6.695-8.173,32.443,32.443,0,0,1-8.33-.448M35.242,52.17a24.351,24.351,0,0,0,3.247-12.158,24.022,24.022,0,0,0-4.7-14.375,22.915,22.915,0,0,0-8.33,5.217,22.57,22.57,0,0,0-5.71,9.248A28.1,28.1,0,0,0,35.242,52.17m6.785-27.989a24.012,24.012,0,0,0-3.807.291,29.72,29.72,0,0,1,4.523,15.472,31.445,31.445,0,0,1-2.754,13.233,27.979,27.979,0,0,0,12.965-1.343A28.618,28.618,0,0,0,61.91,34.817,23.173,23.173,0,0,0,42.026,24.181M29.89,21.427a24.766,24.766,0,0,0-12.629-5.575A29.388,29.388,0,0,0,15.806,21.9a24.907,24.907,0,0,0,14.084-.47" transform="translate(-4.7 -2.018)" fill="#1a1b1c"/>
							</svg>
						</a>
					</div>

					<div class="footer__top__wrapper__products">
						<h2>{{__('Products', 'cd')}}</h2>

						<ul class="footer__top__wrapper__products__list">
							{% for product in listProducts %}
								<li class="footer__top__wrapper__products__list__product">
									<a href="{{site.url}}/productos/#{{product.slug}}">
										{{product.title}}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>

					<nav class="footer__top__wrapper__navBar">
						{{ fn ('wp_nav_menu', {'theme_location': 'footer', 'container': false }) }}
					</nav>


					<div class="footer__top__wrapper__links">
						<h2>{{__('Subsidiaries', 'cd')}}</h2>

						<ul class="footer__top__wrapper__links__list">
							{% set links = fn('get_field', 'links', 'options') %}
							{% for link in links %}
								<li class="footer__top__wrapper__links__list__link">
									<a href="{{link.link.url}}" target="{{link.link.target}}">
										{{link.link.title}}
										<div class="icon">
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="0 0 33.138 33.138">
												<defs>
													<clipPath id="clip-path">
														<rect width="28.821" height="18.043" fill="currentColor"/>
													</clipPath>
												</defs>
												<g transform="translate(0 20.38) rotate(-45)">
													<g transform="translate(0 0)" clip-path="url(#clip-path)">
														<path d="M19.883,16.9,26.59,9.7H.672a.676.676,0,0,1,0-1.352H26.59l-6.708-7.2a.675.675,0,0,1,.98-.929l7.772,8.347a.654.654,0,0,1-.034.946l-7.738,8.313a.675.675,0,0,1-.98-.929" transform="translate(0 0)" fill="currentColor" fill-rule="evenodd"/>
													</g>
												</g>
											</svg>
										</div>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>

			<div class="footer__bot">
				<div class="wrapper footer__bot__wrapper">
					<div class="footer__bot__wrapper__left">
						<p class="copy-footer">copyright &copy;
							{{ fn ('date', 'Y') }}
							nippon gases</p>
					</div>
					<div class="footer__bot__wrapper__right">
						<nav class="footer__bot__wrapper__right__navWp">
							{{ fn ('wp_nav_menu', {'theme_location': 'footerBottom', 'container': false }) }}
						</nav>
					</div>
				</div>
			</div>
		</footer>

		 <script src="https://cdn.jsdelivr.net/npm/swiper@latest/swiper-bundle.min.js" defer></script>
		 <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/gsap.min.js" defer></script>
		 <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.2/dist/ScrollTrigger.min.js" defer></script>
		 <script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis/dist/lenis.min.js" defer></script>

		 <script type="module" src="{{ site.theme.uri }}/assets/js/app.js"></script>
		 <script type="module" src="{{ site.theme.uri }}/assets/js/animate.js"></script>
		 
		 {{ fn ('wp_footer') }}
</body></html>
